    ../C-Cat material/
        /Eclipse IDE for Enterprise Java and Web Developers - 2023-03.lnk
        /FinalProjectPresentation.pptx
        /GitHub Desktop.lnk
        /Haier/
        /JavaByKiran/
        /Load Line sticker Jig.ppt.pptx
        /MyFirstProject/
        /New Microsoft PowerPoint Presentation.pptx
        /Personal - Edge.lnk
        /Pranav R. Wakchaure resume civil.pdf
        /ProjectPresentation.pptx
        /Resume/
        /Tomcat10/
        /UpdatedResumeAdi.pdf
        /Visual Studio 2012 Ultimate/
        /WPS Office.lnk
        /WPS PDF.lnk
        /desktop.ini
        /test1.txt
        /~$ project.docx
        /~$ASTIC_ROADS_A_SEMINAR_REPORT_SUBMITTED-converted.docx
        /~$Slab.docx
       /~$esh Resume.docx
       /~$le_related_cmd.docx
       /~$signments_Operator.docx
        /~WRL0314.tmp
        /Documents/
        /Downloads/
        /Favorites/
        /IBA_IOAPDATA/
        /IntelGraphicsProfiles/
        /Links/
        /MavenTest/
        /Music/
        /NTUSER.DAT
        /NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
        /NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
        /NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
        /New.sql
        /New1.sql
        /New2.sql
        /Nilesh.sql
        /OneDrive/
        /Pictures/
        /Saved Games/
        /Searches/
        /Selenium/
        /Tracing/
        /Videos/
        /battery-report.html
        /c language/
        /eclipse-workspace/
        /eclipse/
        /myfirst-project/
        /ntuser.dat.LOG1
        /ntuser.dat.LOG2
        /ntuser.ini
        /workspace.code-workspace
        /.bash_history
        /.cache/
        /.eclipse/
        /.gitconfig
        /.idlerc/
        /.lemminx/
        /.lesshst
        /.m2/
        /.p2/
        /.viminfo
        /.vscode/
        /3D Objects/
        /Advancejava/
        /AppData/
        /Contacts/
        /Advanced Java notes/
        .gitignore
        adesh
